aiohttp
alembic
Flask
flask-caching 
flask-limiter
Flask-Login
flask-session
flask-sqlalchemy
psycopg2-binary
pydantic
python-dotenv
pytz
redis
requests
tenacity
sqlalchemy
user-agents
