<style>    
    footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #1a202c; /* Tailwind bg-gray-900 */
            padding: 0.5rem; /* Tailwind p-2 */
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Tailwind shadow-md */
            z-index: 10;
        }
        .footer-table {
            width: 100%;
            text-align: center;
            color: white;
        }
        .footer-table > tr {
            border-bottom: none;
        }
        .footer-table > tr > td {
            width: auto;
        }
</style>
<!-- Footer -->
 {% if plan and min_matches %}
<footer>
    <table class="footer-table">
        <tr>
            <th><a href="{{ url_for('free') }}" class="text-{{ 'yellow-400' if plan.odds==min_odds.free else 'white' }} text-xs font-bold">
                {% for i in range(1) %}
                <i class="fas fa-star"></i>
                {% endfor %}<br />
                {{ min_matches.free }} Matches<br />
                ~2+ Odds
            </a></th>
            {% if total_matches > min_matches.free %}
            <th><a href="{{ url_for('bronze') }}" class="text-{{ 'yellow-400' if plan.odds==min_odds.bronze else 'white' }} text-xs font-bold">
                {% for i in range(2) %}
                <i class="fas fa-star"></i>
                {% endfor %}<br />
                {{ min_matches.bronze }} Matches<br />
                ~5+ Odds
            </a></th>
            {% endif %}
            {% if total_matches > min_matches.bronze %}
            <th><a href="{{ url_for('silver') }}" class="text-{{ 'yellow-400' if plan.odds==min_odds.silver else 'white' }} text-xs font-bold">
                {% for i in range(3) %}
                <i class="fas fa-star"></i>
                {% endfor %}<br />
                {{ min_matches.silver }} Matches<br />
                ~10+ Odds
            </a></th>
            {% endif %}
            {% if total_matches > min_matches.silver %}
            <th><a href="{{ url_for('gold') }}" class="text-{{ 'yellow-400' if plan.odds==min_odds.gold else 'white' }} text-xs font-bold">
                {% for i in range(4) %}
                <i class="fas fa-star"></i>
                {% endfor %}<br />
                {{ min_matches.gold }} Matches<br />
                ~20+ Odds
            </a></th>
            {% endif %}
            {% if total_matches > min_matches.gold %}
            <th><a href="{{ url_for('platinum') }}" class="text-{{ 'yellow-400' if plan.odds==min_odds.platinum else 'white' }} text-xs font-bold">
                {% for i in range(5) %}
                <i class="fas fa-star"></i>
                {% endfor %}<br />
                {{ min_matches.platinum }} Matches<br />
                ~40+ Odds
            </a></th>
            {% endif %}
            <!-- <th>
                <a href="https://wa.me/+254759697757" target="_blank" class="text-white text-xs font-bold" title="Chat with us on WhatsApp">
                    <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" alt="WhatsApp">
                </a>
            </th> -->
        </tr>
    </table>
</footer>
 {% endif %}

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='plugin.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>  
