<!DOCTYPE html>
<html lang="en">
    
    {% include 'head.html' %}

<body>

    <nav class="mobile-nav mobile-nav-top">
        <div class="mobile-nav__item">
            <h4 class="mobile-nav__item-content">
                Login / Register
            </h4>
        </div>
    </nav>

    <div class="container py-5">
        <div class="row justify-content-center">

            <div class="container-fluid table-responsive">
                
                <form method="POST" class="form-horizontal card box-shadow my-2">
                    <div class="card-body">
                        {% if error %}
                        <h6 class="py-5 text-center text-danger">
                            {{ error }}
                        </h6>
                        {% endif %}
                        <div class="form-group row">
                            <label class="col-4 text-end control-label col-form-label">Phone:</label>
                            <div class="col-8">
                                <input type="text" name="phone" id="phone" class="form-control input-sm" placeholder="e.g 0712345678" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 text-end control-label col-form-label">Password:</label>
                            <div class="col-8">
                                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-6 text-center">
                                <a href="https://api.whatsapp.com/send/?phone=254759697757&text=password" target="_blank">Forgot Password</a>
                            </div>
                            <div class="col-6 text-center">                      
                                <button type="submit" id="action" name="action" value="login" class="btn btn-success">Login/Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'nav.html' %}

</body>

</html>