<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" class="form-horizontal">
                    <div class="modal-header text-center">
                        <h5 class="text-center"><b id="plan"></b> Premium Tips Subscription</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-4 text-end control-label col-form-label">Phone No.:</label>
                            <div class="col-8">
                                <input type="hidden" id="amount" name="amount">
                                <input required="required" type="text" name="phone" id="phone"
                                    class="form-control input-sm" minlength="9" placeholder="e.g 0712345678">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" id="action" name="action" value="login"
                            class="btn btn-success">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="sticky top-0 bg-gray-900 shadow-md z-10 text-white p-2">
        <div class="container mx-auto flex">    
            <a href="https://tipspesa.vercel.app/" class="flex">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="h-12">
            </a>
        </div>
    </header>

    <!-- Main Content -->
    <div class="main-content bg-white">
        <!-- <div class="whatsapp-float">
            <a href="https://wa.me/+254759697757" target="_blank" title="Chat with us on WhatsApp">
                <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" alt="WhatsApp">
            </a>
        </div> -->

        <div>
            <section class="p-2">
                <div class="bg-white text-white p-4 mb-7 rounded-lg shadow-md"
                    style="background-image: url({{ url_for('static', filename='Subbackground.png') }}); background-size: cover;">
                    <div class="flex justify-between items-center">
                        <span
                            class="bg-{{ plan.color }}-100 text-{{ plan.color }}-800 text-xs font-bold px-2 py-1 rounded-full">{{
                            plan.name ~ (' Plan Premium' if plan.name != 'Free' else ' Tips') }} - {{ plan.odds }}+ odds</span>
                        <div class="text-yellow-400">
                            {% for i in range(plan.stars) %}
                            <i class="fas fa-star"></i>
                            {% endfor %}
                            {% for i in range(3-plan.stars) %}
                            <i class="fas fa-star text-white"></i>
                            {% endfor %}
                        </div>
                    </div>

                    <table class="results-table">
                        <tr>
                            {% if True %}
                            <!-- if (current_user.active and current_user.plan == plan.name) or plan.name == 'Free Tips'  -->
                            <th>Time</th>
                            <th>Fixture</th>
                            <th>Tip</th>
                            <th>Odd</th>
                            {% else %}
                            <th colspan="4">
                                Get sure {{ plan.odds }}+ odds daily and earn consistently. Click BUY to purchase our {{ plan.name }} Plan now<br />
                                Once Paid, Tips will be displayed here. <br />
                                NO MORE Annoying Ads!!! <br />
                                <a href="#" data-toggle="modal" data-target="#loginModal"
                                    onclick="setPlan('{{ plan.name }}', {{ plan.amount }})">
                                    <button class="bg-{{ plan.color }}-100 text-{{ plan.color }}-800 text-md font-bold px-2 py-1 rounded-lg mt-2">
                                        BUY {{ plan.name }} Plan<br />
                                        @ KSh. {{ plan.amount }}
                                    </button>
                                </a>
                            </th>
                            {% endif %}
                        </tr>
                        {% set ns = namespace(total_odds=1) %}
                        {% for match in plan.matches %}
                        {% set ns.total_odds = ns.total_odds * match.odd %}
                        {% if True %}
                        <!-- if (current_user.active and current_user.plan == plan.name) or plan.name == 'Free Tips'  -->
                        <tr>
                            <td>{{ match.kickoff.strftime('%H:%M') }}</td>
                            <td>{{ match.home_team }} vs {{ match.away_team }}</td>
                            <td>
                                {{ match.prediction }}
                                {{ 'goals' if match.sub_type_id == 18 else ' multi-goals' if match.sub_type_id == 548 else ' bookings' if match.sub_type_id == 139 else ' corners' if match.sub_type_id == 166 else '' }}
                            </td>
                            
                            <td>{{ (match.home_results ~ '-' ~ match.away_results) if match.status else match.odd }} &nbsp
                            {% if match.status == 'WON' %}
                                <span class="fa fa-check-circle" style="color: green; font-size: 16px;"></span>
                            {% elif match.status == 'LOST' %}
                                <span class="fa fa-times-circle" style="color: red; font-size: 16px;"></span>
                            {% elif match.status == 'ACTIVE' %}
                                <span class="fa fa-spinner" style="color: gray; font-size: 16px;"></span>
                            {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% if True %}
                        <!-- if (current_user.active and current_user.plan == plan.name) or plan.name == 'Free Tips'  -->
                        <tr>
                            <td id="betika_share" colspan="4">
                                <button onclick="getBetikaShare()" class="bg-green-800 text-yellow-500 text-md font-bold px-2 py-1 rounded-lg mt-2">
                                    Get Betika Code
                                </button>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th colspan="3">Today Total Odds</th>
                            <th>{{ ns.total_odds | round(2) }}</th>
                        </tr>                        
                    </table>
                </div>
            </section>

            <!-- Yesterday Tips -->
            <section class="p-2">
                <div class="bg-white p-2 rounded-lg shadow-md">
                    <h2 class="text-2xl font-bold text-green-600 mb-1 text-center">Yesterday Tips</h2>
                    {% if plan.matches_yesterday | length > 0 %}
                    <table class="results-table">
                        <tr>
                            <th>Fixture</th>
                            <th>Tip</th>                                
                            <th>Result</th>
                            <th></th>
                        </tr>
                        {% for match in plan.matches_yesterday %}
                        <tr>
                            <td>{{ match.home_team }} vs {{ match.away_team }}</td>
                            <td>                                    
                                {{ match.prediction }}
                                {{ 'goals' if match.sub_type_id == 18 else ' multi-goals' if match.sub_type_id == 548 else ' bookings' if match.sub_type_id == 139 else ' corners' if match.sub_type_id == 166 else '' }}
                            </td>
                            {% if match.status == 'WON' %}
                                <td>{{ match.home_results ~ '-' ~ match.away_results }}</td>
                                <td><span class="fa fa-check-circle" style="color: green; font-size: 16px;"></span></td>
                            {% elif match.status == 'LOST' %}
                                <td>{{ match.home_results ~ '-' ~ match.away_results }}</td>
                                <td><span class="fa fa-times-circle" style="color: red; font-size: 16px;"></span></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>

    {% include 'footer.html' %}
  
    <script>
        function setPlan(name, amount) {
            $('#plan').html(name)
            $('#amount').val(amount)
        }

        function getBetikaShare() {
            url = "{{ url_for('betika_share_code', odds=plan.odds) }}";
            $.ajax({
                url: url,
                type: 'GET',
                success: function (code) {
                    if (code){
                        html = '<button onclick="copyToClipboard(\'' +code+ '\')" class="bg-green-800 text-yellow-500 text-md font-bold px-2 py-1 rounded-lg mt-2">' +code+ ' <br /><small>Click to copy this Betika Code</small></button>';
                    }else
                        html = '<span class="text-red-500">Betika code is not available. Try again later.</span>';
                    $('#betika_share').html(html);
                },
                error: function (error) {
                    console.error('Error fetching Betika share code:', error);
                }
            });
        }

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(function() {
                console.log('Betika share code copied to clipboard! \nPaste the Code at Betika App `Load Betslip` to import');
            }, function(err) {
                console.error('Could not copy text: ', err);
            });
        }
    </script>
</body>

</html>
