<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}


<!-- CSS for Tabs -->
<style>
    .tab-button {
        transition: all 0.3s ease;
    }

    .tab-button.active {
        background-color: #10b981;
        /* Green to match text-green-600 */
        color: white;
    }

    .tab-button:hover {
        background-color: #10b981;
        /* Light green on hover */
    }

    .tab-content {
        display: block;
    }

    .tab-content.hidden {
        display: none;
    }
</style>

<body>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" class="form-horizontal">
                    <div class="modal-header text-center">
                        <h5 class="text-center"><b id="plan"></b> Premium Tips Subscription</h5>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-4 text-end control-label col-form-label">Subscription Period:</label>
                            <div class="col-8">
                                <div class="form-check form-check">
                                    <input class="form-check-input" type="radio" name="amount" id="daily" value="30"
                                        required>
                                    <label class="form-check-label" for="daily">Daily @KSh. 30</label>
                                </div>
                                <div class="form-check form-check">
                                    <input class="form-check-input" type="radio" name="amount" id="weekly" value="150"
                                        required>
                                    <label class="form-check-label" for="weekly">Weekly @KSh. 150</label>
                                </div>
                                <div class="form-check form-check">
                                    <input class="form-check-input" type="radio" name="amount" id="monthly" value="500"
                                        required>
                                    <label class="form-check-label" for="monthly">Monthly @KSh. 500</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 text-end control-label col-form-label">Your Email:</label>
                            <div class="col-8">
                                <input required="required" type="email" name="phone" id="phone"
                                    class="form-control input-sm" placeholder="user@gmail.com">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" id="action" name="action" value="login"
                            class="btn btn-success">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" class="form-horizontal">
                    <input type="hidden" name="match_id" id="match_id">
                    <div class="modal-header text-center">
                        <h5 class="text-center">Update Results</h5>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-7 text-end control-label col-form-label" id="home_team"
                                for="home_team_goals"></label>
                            <div class="col-5">
                                <input required="required" type="number" name="home_team_goals" id="home_team_goals"
                                    class="form-control input-sm" placeholder="Home Team Goals">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-7 text-end control-label col-form-label" id="away_team"
                                for="away_team_goals"></label>
                            <div class="col-5">
                                <input required="required" type="number" name="away_team_goals" id="away_team_goals"
                                    class="form-control input-sm" placeholder="Away Team Goals">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-7 text-end control-label col-form-label" for="status">Status</label>
                            <div class="col-5">
                                <input required="required" type="text" name="status" id="status"
                                    class="form-control input-sm" placeholder="Status (WON, LOST, PENDING)">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" id="action" name="action" value="update_results"
                            class="btn btn-success">Update Results</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Header -->
    <header class="sticky top-0 bg-gray-900 shadow-md z-10 text-white p-2">
        <div class="container mx-auto flex">
            <a href="https://tipspesa.vercel.app/" class="flex">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="h-12">
            </a>
        </div>
    </header>

    <!-- Main Content -->
    <div class="main-content bg-white">
        <div class="whatsapp-float">
            <a href="https://wa.me/+254759697757" class="text-white text-xs font-bold" target="_blank"
                title="Chat with us on WhatsApp">
                <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" alt="WhatsApp">
            </a>
        </div>

        <div>
            <section class="p-2">
                <div class="bg-white text-white p-4 mb-7 rounded-lg shadow-md"
                    style="background-image: url({{ url_for('static', filename='Subbackground.png') }}); background-size: cover;">
                    <div class="flex justify-between items-center">
                        <span
                            class="bg-{{ plan.color }}-100 text-{{ plan.color }}-800 text-xs font-bold px-2 py-1 rounded-full">Today
                            Premium Tips - {{ plan.matches |
                            length }} matches</span>
                        <div class="text-yellow-400">
                            {% for i in range(plan.stars) %}
                            <i class="fas fa-star"></i>
                            {% endfor %}
                            {% for i in range(5-plan.stars) %}
                            <i class="fas fa-star text-white"></i>
                            {% endfor %}
                        </div>
                    </div>
                    <br />
                    <!-- Tab Navigation -->
                    <div class="tab-nav flex justify-center mb-4">
                        {% for slip in slips %}
                        <button
                            class="tab-button px-2 py-2 mx-1 font-semibold text-gray-700 text-xs bg-gray-200 rounded-t-lg {% if slip.id == 1 %}active{% endif %}"
                            data-tab="slip_{{ slip.id }}">Slip {{ slip.id }}</button>
                        {% endfor %}
                    </div>
                    {% for slip in slips %}
                    <div id="slip_{{ slip.id }}" class="tab-content {% if slip.id != 1 %}hidden{% endif %}">
                        <table class="results-table">
                            {% if slip.matches %}
                            <tr>
                                <th>Time</th>
                                <th>Fixture</th>
                                <th>Tip</th>
                                <th>Odd</th>
                            </tr>
                            {% set ns = namespace(total_odds=1) %}
                            {% for match in slip.matches %}
                            {% set ns.total_odds = ns.total_odds * match.odd %}
                            <tr>
                                <td>
                                    {{ 'Today' if match.kickoff.strftime('%A')==today else 'Tomorrow' if
                                    match.kickoff.strftime('%A')==tomorrow else match.kickoff.strftime('%A') }} <br />
                                    {{ match.kickoff.strftime('%H:%M') }}
                                </td>
                                <td>{{ match.home_team }} vs {{ match.away_team }}</td>
                                {% if current_user.active or slip.id==1 or current_time.strftime('%Y-%m-%d %H:%M:%S') > match.kickoff.strftime('%Y-%m-%d %H:%M:%S') %}
                                <td>
                                    {{ match.prediction | capitalize }} <br />
                                    {{ match.bet_pick | upper }}
                                </td>
                                {% else %}
                                <td class="text-center"> <i class="fas fa-lock"></i> </td>
                                {% endif %}
                                <td>
                                    <small {% if current_user.phone=='admin@tipspesa.com' %}
                                        onclick="editMatch('{{ match.match_id }}', '{{ match.home_team }}', '{{ match.away_team }}')"
                                        {% endif %}>
                                        {{ match.odd ~ ' (' ~ match.overall_prob ~ '%)' }} <br />
                                        {{ (match.home_results ~ '-' ~ match.away_results) if match.home_results is not none or match.away_results is not none else '' }}
                                        {% if match.status == 'WON' %}
                                        <span class="fa fa-check-circle" style="color: green; font-size: 16px;"></span>
                                        {% elif match.status == 'LOST' %}
                                        <span class="fa fa-minus-circle" style="color: grey; font-size: 16px;"></span>
                                        {% else %}
                                        {{ '[' ~ match.status ~ ']' if match.status else '' }}
                                        {% endif %}
                                    </small>
                                </td>
                            </tr>
                            {% endfor %}
                            {% if current_user.active or slip.id==1 %}
                            <tr>
                                {% if slip.betika_share_code %}
                                <td id="betika_share" class="text-sm" colspan="4">
                                    <small>
                                        Betika Share Code </br>
                                        <a class="bg-yellow-100 text-yellow-800 text-xs font-bold px-2 py-1 rounded-full"
                                            href="#" onclick="copyToClipboard('{{ slip.betika_share_code }}')">{{
                                            slip.betika_share_code }}</a><br />
                                        <i>Tap to Copy</i></small>
                                </td>
                                {% endif %}
                            </tr>
                            {% else %}
                            <tr>
                                <th colspan="4">
                                    <a href="#" data-toggle="modal" data-target="#loginModal">
                                        <button
                                            class="bg-yellow-100 text-yellow-800 text-md font-bold px-2 py-1 rounded-lg mt-2">
                                            Click Here to UNLOCK All Tips in All Betslips now<br />
                                            @ KSh. 30 <br />
                                            Once Paid, All Tips in All Betslips will be displayed.
                                        </button>
                                    </a>
                                </th>
                            </tr>
                            {% endif %}
                            <tr>
                                <th colspan="3">BetSlip {{ slip.id }} Total Odds</th>
                                <th>{{ ns.total_odds | round(2) }}</th>
                            </tr>
                            {% else %}
                            <th colspan="4">
                                Sorry, Our A.I could not find viable matches for Slip {{
                                slip.id }} today. Kindly check back Later!
                            </th>
                            {% endif %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <!-- Dynamic Tabs for Matches in plans.history -->
            <section class="p-2">
                <div class="bg-white p-2 rounded-lg shadow-md">
                    <!-- Tab Navigation -->
                    <div class="tab-nav flex justify-center mb-4">
                        {% for history in plan.history %}
                        <button
                            class="tab-button px-3 py-2 mx-1 font-semibold text-gray-700 text-xs bg-gray-200 rounded-t-lg {% if history.day == 'Yesterday' %}active{% endif %}"
                            data-tab="{{ history.day | lower }}">{{ history.day }}</button>
                        {% endfor %}
                    </div>

                    <!-- Tab Content -->
                    {% for history in plan.history %}
                    <div id="{{ history.day | lower }}"
                        class="tab-content {% if history.day != 'Yesterday' %}hidden{% endif %}">
                        {% if history.matches | length > 0 %}
                        <table class="results-table w-full border-collapse">
                            <tr>
                                <th>Fixture</th>
                                <th>Tip</th>
                                <th>Result</th>
                            </tr>
                            {% for match in history.matches %}
                            <tr>
                                <td>{{ match.home_team }} vs {{ match.away_team }}</td>
                                <td>
                                    {{ match.prediction | capitalize }} <br />
                                    {{ match.bet_pick | upper }}
                                </td>

                                <td>
                                    <small {% if current_user.phone=='admin@tipspesa.com' %}
                                        onclick="editMatch('{{ match.match_id }}', '{{ match.home_team }}', '{{ match.away_team }}')"
                                        {% endif %}>
                                        {{ match.odd ~ ' (' ~ match.overall_prob ~ '%)' }} <br />
                                        {{ (match.home_results ~ '-' ~ match.away_results) if match.home_results is not none or match.away_results is not none else '' }}
                                        {% if match.status == 'WON' %}
                                        <span class="fa fa-check-circle" style="color: green; font-size: 16px;"></span>
                                        {% elif match.status == 'LOST' %}
                                        <span class="fa fa-minus-circle" style="color: grey; font-size: 16px;"></span>
                                        {% else %}
                                        {{ '[' ~ match.status ~ ']' if match.status else '' }}
                                        {% endif %}
                                    </small>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <p class="text-center text-gray-500">No {{ history.day }} tips available.</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='plugin.js') }}"></script>

    <!--  include 'footer.html'  -->

    <script>

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(function () {
                console.log('Betika share code copied to clipboard! \nPaste the Code at Betika App `Load Betslip` to import');
            }, function (err) {
                console.error('Could not copy text: ', err);
            });
        }

        function editMatch(id, home_team, away_team) {
            // Set the values in the modal
            document.getElementById('match_id').value = id;
            document.getElementById('home_team').innerText = home_team + ' Goals';
            document.getElementById('away_team').innerText = away_team + ' Goals';
            // Show the modal
            $('#resultModal').modal('show');
        }

        document.addEventListener('DOMContentLoaded', () => {
            //getBetikaShare()
            const buttons = document.querySelectorAll('.tab-button');
            const contents = document.querySelectorAll('.tab-content');

            buttons.forEach(button => {
                button.addEventListener('click', () => {
                    // Remove active class from all buttons
                    buttons.forEach(btn => btn.classList.remove('active'));
                    // Add active class to clicked button
                    button.classList.add('active');

                    // Hide all tab contents
                    contents.forEach(content => content.classList.add('hidden'));
                    // Show the selected tab content
                    const tabId = button.getAttribute('data-tab');
                    document.getElementById(tabId).classList.remove('hidden');

                    if (!tabId.includes('slip_')) {
                        buttons[0].classList.add('active');
                        contents[0].classList.remove('hidden');
                    } else {
                        last = buttons.length - 1;
                        buttons[last].classList.add('active');
                        contents[last].classList.remove('hidden');
                        median.admob.showInterstitialIfReady();
                    }
                });
            });

            //show interstitial ad 20 seconds after page load
            setTimeout(() => {
                median.admob.showInterstitialIfReady();
            }, 20000);

            //show interstitial ad 120 seconds after page load
            setTimeout(() => {
                median.admob.showInterstitialIfReady();
            }, 120000);

        });

    </script>
</body>




</html>